<h1><%= @user.email %></h1>
<p>
<%= link_to "Log Out", controller: "users", action: "logout"%>
</p>
<p>
<%= link_to "DELETE USER", user_path, method: :delete, data: {confirm: "Are you sure you want to permanently delete your account?"} %>
</p>
